# Compiled files
/target/

# Dependency directories
Cargo.lock
/vendor/

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Executables
*.exe
*.out
*.app

# Other
*.swp
*.log
.DS_Store
Thumbs.db

# Windows specific
desktop.ini
thumbs.db
